<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <input #A type="number" placeholder="nhập số A"/>
  <label>+</label>
  <input #B type="number" placeholder="nhập số B"/>
  <label>=
    <input type="number" [(ngModel)]="ketqua" readonly placeholder="kết quả"/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(A.value*1, B.value*1);">
    add
  </button>
</div>

